boto3==1.35.21
botocore==1.35.21
CacheControl==0.14.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
idna==3.10
iso3166==2.1.1
jmespath==1.0.1
mapbox==0.16.1
mapboxcli==0.8.0
msgpack==1.1.0
polyline==2.0.2
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.10.2
six==1.16.0
tqdm==4.66.5
uritemplate==4.1.1
urllib3==1.26.20
